
body{
    background-color:  rgb(26, 166, 231);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-position: center;
    background-size: cover;
    color: #6a7199
}


.form{
    position: fixed;
    top:70px;
    left:350px;

    font-size: large;
}
.button{
    border-radius: 5px;
    background-color: rgb(31, 122, 3);
    color: #ddd;
}
.header{
    color: #000;
    position: fixed;
    top: 0;
    
    left: 350px;
    text-shadow: aliceblue;
    font-size: 30px;

}
.text{
    position:fixed;
    top:90;
    width: 350px;
    left:350px;
    font-size:20d;
}
.image{
    width: 300px;
    height: 175px;

}
.container {
    border-radius: 10px;
    background-color: #cacaca;
    padding: 20px;
}

.col-35 {
    float: left;
    width: 35%;
    margin-top: 6px;
}
.col-65 {
    float: left;
    width: 65%;
    margin-top: 6px;
}
.mpg{
    width: 50%
}
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
.answer{
    font-weight: bold;
}

