.myImage{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.CarImage{
    width: 100px;
    height: 60px;
}
.DoughnutImage{
    width:300px;
    height: 300px
}
.GraphImage{
    
}
.CarTable{
    width: 100%;
}
.Slim{
    width: 50%;
}